Source: libtie-file-fixedreclen-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0)
Build-Depends-Indep: perl (>= 5.8.8-7)
Maintainer: Oliver Gorwits <oliver.gorwits@oucs.ox.ac.uk>
Standards-Version: 3.7.2

Package: libtie-file-fixedreclen-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: Fixed Length Record support for Tie:File
 Use this module as a drop-in replacement to Tie::File in order to add support
 for fixed length records within your tied files. When tieing to a file, you
 must specify the length of a record in the file. This length does not include
 the record separator character(s).
